.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-img{
    margin-bottom: 1.250em;
  }

  &-name,
  &-price {
    color:#312828;
    margin-bottom: 0.313em;
  }

  &-button{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    border-radius: .25rem;
    border: 1px solid transparent;
    background: #711b5a;
  
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    padding: .375rem 3.750em;

    &:hover{
      color: #fff;
      text-decoration: none;
    }
  }
}