.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-img{
    margin-bottom: 1.250em;
  }

  &-name,
  &-price {
    color: #461234;
    text-transform: uppercase;
    
    margin-bottom: 0.313em;
  }

  &-name{
    font-size: 0.750em;
  }

  &-price{
    font-weight: bold;
    font-size: 1.250em;

    margin-top: 1.250em;
  }

  &-details{
    text-decoration: underline;
    color:#461234;

    margin-bottom: 0.625em;

    &:hover{
      color: #843268;
    }
  }

  &-button{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    border-radius: .25rem;
    border: 1px solid transparent;
    background: #711b5a;
  
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    padding: .375rem 3.750em;

    &:hover{
      color: #fff;
      background: #843268;
      text-decoration: none;
    }
  }
}