.card{
  background: #fff;
  align-items: center;

  flex: 0 32%;
  width: 18.750em;
  margin-bottom: 2%;
  padding: 0.938em;
  border-radius: 3px;
  box-shadow: -2px 2px 9px 0px rgba(0, 0, 0, 0.05);
}