.header{
  width: 100%;
  background: #711b5a;
  
  display: flex;
  flex: 1;
  padding: 0.938em;

  &-title{
    color: #fff;

    &-sub{
      font-size: 0.500em;
      color: #fff;
    }
  }
}

.nav-bars{
  background: #5a2147;
  height: 1.875em;
}

.hidden{
  display: none;
}